@import url("https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Orbitron:wght@400..900&display=swap");

@import "tailwindcss";

@theme {
    --color-primary: rgba(23, 23, 23);
    --color-transparent-black: rgba(19, 18, 18, 0.94);
    --font-geologica: "Geologica", sans-serif;
}

body {
    font-family: var(--font-geologica);
    /* background-color: transparent; */
    color: white;
    scrollbar-width: none;
    /* font-weight: 150; */
    font-weight: 300;
}
